//リセットcssの読み込み
@import "set/reset";

//変数ファイルの読み込み
@import "set/variables";

//mixinファイルの読み込み
@import "set/mixin";

//データページのcss
@import "parts/date";

//ログインページのcss
@import "parts/login";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
