.column_2 {
  display: flex;
  justify-content: left;

  //サイドバーのcssの読み込み
  @import "sidebar";

  .content {
    width: 80%;
    position: relative;
    &__date {
      list-style: none;
      display: flex;
      justify-content: left;
      flex-flow: row wrap;
    }

    &__date__list {
      position: relative;

      > .imgbox {
        background: #fff;
        box-shadow: 0 1px 6px 0 $BOXSHDOW;
        height: 200px;
        min-width: 200px;
        border-radius: 3px;
        transition: all 0.25s ease;
        animation: populate 0.5s ease-out normal backwards;
        margin: 5px;
        overflow: hidden;
        position: relative;
        > img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          display: block;
          transition-duration: 0.3s;

          &:hover {
            transform: scale(1.1);
            transition-duration: 0.3s;
          }
        }

        .name {
          position: absolute;
          font-size: 20px;
          right: 0;
          left: 0;
          top: 20px;
          text-align: center;
          color: $MAINCOLOR;
        }
      }

      &--icon {
        top: 10px;
        right: 10px;
        display: none;
        z-index: 99;
      }

      > .active {
        display: block;
        position: absolute;
      }
    }
  }
}
