.sidebanner {
  text-align: left;
  width: 20%;
  ul {
    list-style: none;
    padding: 0;
    > .active {
      background: lighten($MAINCOLOR, 50%);
    }
  }

  &__menu__list {
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.3s linear;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      transition: 0.3s linear;
    }

    &--icon {
      font-size: 36px;
      margin-right: 20px;
      color: $MAINCOLOR;
    }
    &:hover {
      color: $MAINCOLOR;
      &::after {
        left: 0;
        background: lighten($MAINCOLOR, 50%);
      }
    }
  }
}
